@font-face {
  font-family: Karla;
  font-display: auto;
  src: local('Karla'), url(assets/Karla.ttf);
}

:root {
	--nice: rgb(110, 163, 242);
	--lightblue: #4c8ff3;
	--darkblue: #146ef5;
	--text: #45515d;
}

* {
	box-sizing: border-box;
}

html, body, .container {
	min-height: 100vh;
}

body {	
	padding: 0;
	margin: 0;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	font-family: 'Karla', sans-serif;
	text-align: center;
	color: var(--text);
	width: 100%;
	padding-top: 90px;
}

.container h2.noborder {
	font-size: 1.8rem;
}

.container h2, h3 {
	font-size: 2rem;
	margin-top: 0;
	color: var(--lightblue);
	text-align: left;
}

.container h2:not(.noborder) {
	border-bottom: .25rem dotted lightgrey;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
}

.container h3 {
	color: var(--text);
	font-size: 1.6rem;
	margin: 0;
}

.container p, .container span {
  color: var(--text);
  margin: 0;
  font-size: 1.2rem;
  padding: .25rem 0;
}

.container svg {
	font-size: 1.5rem;
}

.cardTitle section p {
	font-size: 1.2rem;
}

.description span {
	color: var(--text);
	font-size: 1rem;
	font-style: italic;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 3rem;
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 0px 4px 5px -4px #0000002e;
	padding: .5rem calc((100% - 60rem) / 2);
}

.header a, .header span {
  color: var(--darkblue);
  text-decoration: none;
  font-size: 1.2rem;
}

.header a:first-child {
  color: var(--lightblue);
	margin-left: 0;
  margin-right: calc((125% - 50rem) / 2);
}

.header a h1 {
	margin: 0;
	font-size: 1.5rem;
}

.header a p {
	font-size: 1rem;
	margin: 0;
}

.header img {
	width: 2rem;
}

/* Main section of page */

.main {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	margin: .5rem 1rem;
}

.main > div {
	margin-bottom: 4rem;
}


.projectCard {
	display: flex;
	flex-flow: row wrap;
	border-radius: .3rem;
	max-width: 60rem;
	width: 100%;
	margin-bottom: 4rem;
	align-items: stretch;
	text-align: left;
}

.projectCard .clickable {
  text-decoration: none;
  display: flex;
  flex-flow: row wrap;
}

.projects .projectCard:not(:last-of-type) {
	margin-bottom: 10rem;
}

.projectCard .shrink {
	display: block;
}

.projectCard .cardTitle div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.projectCard .cardTitle.shrink h3 {
	margin: 1rem 0;
}

.cardTitle {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.languages {
	flex-flow: row wrap;
	justify-content: flex-start;
}

.cardTitle.shrink > div .holdsIcons {
	margin: 1rem 2rem 1rem 0;
}

.about section {
	padding-bottom: 2rem;
	border-bottom: 4px dotted lightgrey;
}

.holdsIcons {
	margin: 0 .5rem;
}

.holdsIcons span {
	padding-left: .5rem;
}

.holdsIcons a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.holdsIcons svg {
	font-size: 2rem;
}

.holdsIcons img {
	width: 2rem;
}

.holdsIcons img.js {
	background-color: black;
}

.holdsIcons img.php {
	width: 3rem;
}

.holdsIcons img.python {
	width: 2.5rem;
}

.holdsIcons img.babel {
	width: 2.5rem;
	background-color: #f6db55;
}

.holdsIcons img.ps {
	background-color: rgb(2, 39, 49);
}

.holdsIcons img.mysql {
	width: 4.5rem;
}

.screenshot {
	display: flex;
  justify-content: center;
	flex: 1 0 20%;
	padding-right: 1rem;
}

.screenshot img {
	width: 100%;
	min-width: 100%;
  max-width: 100%;
  min-width: 225px;
  height: auto;
  border: 1.5px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0px 5px 4px -4px #0000002e;
}

.holdsButtons {
	flex-flow: row wrap;
	justify-content: flex-end;
	margin: 1rem 0 0 auto;
}

.holdsButtons a {
  display: inline-block;
}

.description {
	flex: 1 0 60%;
	justify-content: flex-start;
	text-align: left;
	display: flex;
	flex-flow: column wrap;
}

.description p {
	margin: 0;
  color: var(--text);
  text-decoration: none;
	font-size: 1.1rem;
}

.projectCard .button {
	margin: .5rem;
	padding: .6rem;
	background-color: var(--darkblue);
  text-decoration: none;
	color: white;
	border: none;
	border-radius: .2rem;
	font-size: .8rem;
	outline: none;
	box-shadow: 0px 5px 4px -4px #0000002e;
}

#contact h2 {
  margin-bottom: 1rem;
}

#contact h3 {
	margin: 2rem 0 1rem;
}


.footer {
	margin-bottom: 2%;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 850px) {
	.header {
		margin: 0;
	}
	
	.header a:first-child {
		margin-left: 1rem;
	}
	
	.header a:last-child {
		margin-right: 1rem;
	}

	.projectCard {
		width: 100%;
	}
}

@media only screen and (max-width: 650px) {
	.container {
		padding-top: 2.5rem;
	}

	.header {
		justify-content: space-evenly;
		margin-left: 0;
		width: 100%;
	}

	.header a:first-child {
		display: none;
		width: 100%;
	}

	.header a:last-child {
		margin-right: 0;
	}

	.header a h1 {
		font-size: 1rem;
	}

	.header a p {
		font-size: .7rem;
	}
	
	.cardTitle {
		padding: 1rem;
	}

	.about .projectCard .cardTitle div {
		justify-content: space-between;
	}

  .screenshot, .description p, .description span {
    padding-left: 1rem;
  }
}

@media only screen and (max-width: 450px) {
	.about div.cardTitle.shrink {
		margin-left: 20%;
	}

	.about .projectCard .cardTitle .languages {
		flex-flow: column wrap;
		align-items: flex-start;
	}

	.header a.linkedin {
		display: none;
	}
}

@media only screen and (max-width: 400px) {
	#contact .languages {
		flex-flow: column wrap;
	}

	#contact a.clickable {
		display: flex;
		flex-flow: column wrap;
	}

}

@media only screen and (max-width: 375px) {
	.header a.github {
		display: none;
	}

	.container h3 {
		font-size: 1.4rem;
	}
}
