@font-face {
	font-family: Karla;
	font-display: auto;
	src: local('Karla'), url(assets/Karla.ttf);
}

:root {
	--nice: rgb(110, 163, 242);
	--lightblue: #538fe9;
	--darkblue: #3e69ac;
	--text: #45515d;
}

* {
	box-sizing: border-box;
}

html,
body,
.container {
	min-height: 100vh;
}

body {
	padding: 0;
	margin: 0;
}

/* JavaScript classes */

.open {
	display: flex;
}

.closed {
	display: none;
}

.container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
	font-family: 'Karla', sans-serif;
	text-align: center;
	color: var(--text);
	width: 100%;
	padding-top: 75px;
}

.container h2.noborder {
	font-size: 1.8rem;
}

.container h2,
h3 {
	font-size: 2rem;
	margin-top: 0;
	color: var(--lightblue);
	text-align: left;
}

.container h2:not(.noborder) {
	border-bottom: 0.25rem dotted lightgrey;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	color: var(--darkblue);
}

.container h3 {
	color: var(--lightblue);
	font-size: 1.6rem;
	margin: 0;
}

.container p,
.container span {
	color: var(--text);
	margin: 0;
	font-size: 1.2rem;
}

.container svg {
	font-size: 1.5rem;
}

.cardTitle section p {
	font-size: 1.2rem;
	margin: 1rem 0;
}

.description span {
	color: var(--text);
	font-size: 1rem;
	font-style: italic;
}

.header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 55px;
	width: 100%;
	margin-bottom: 3rem;
	position: fixed;
	top: 0;
	background-color: white;
	box-shadow: 0px 4px 5px -4px #0000002e;
	padding: 0.1rem calc((100% - 65rem) / 2);
	background-color: var(--darkblue);
}

.mobile-menu {
	display: none;
}

.header a,
.header span {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}

.header a:first-child {
	color: var(--lightblue);
	margin-left: 0;
	margin-right: calc((125% - 50rem) / 2);
}

.header a h1 {
	margin: 0;
	font-size: 1.5rem;
	color: white;
}

.header a p {
	font-size: 1rem;
	margin: 0;
	color: white;
}

.header .abbr {
	display: none;
}

.header img {
	width: 2rem;
}

.header a.linkedin img {
	border-radius: 10%;
	background: radial-gradient(white 66%, #0077b5 70%);
}

.header a.github img {
	background: radial-gradient(#fff 66%, black 70%);
	border-radius: 50%;
}

.header a.github img,
.header a.linkedin img {
	width: 40px;
	height: 40px;
}
/* Main section of page */

.main {
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	margin: 0.5rem 1rem;
	max-width: 65rem;
}

.main > div {
	margin-bottom: 4rem;
}
	
.about .projectCard {
	margin-bottom: 2.5rem;
}

.about .projectCard:not(:first-child) {
	height: 150px;
}

.about div.projectCard:last-child {
	margin-bottom: 0;
}

.projectCard {
	display: flex;
	flex-flow: column nowrap;
	border-radius: 0.3rem;
	margin-bottom: 5rem;
	max-width: 60rem;
	width: 100%;
	justify-content: space-around;
	text-align: left;
	border-radius: 20px;
}

.projectCard:nth-child(odd) {
	margin-right: 2.5rem;
}

.projects {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.projectCard .clickable {
	text-decoration: none;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.projectCard .shrink {
	display: block;
}

.projectCard .cardTitle div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	min-height: 50px;
}

.projectCard .cardTitle .project-header {
	justify-content: space-between;
	margin: 1rem 0;
	width: 100%;
}

.projectCard .languages .holdsIcons:not(:last-child) {
	margin: 0 1rem 0 0;
}

.cardTitle {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1rem;
}

.cardTitle h3 {
	font-size: 2rem;
}

.languages {
	flex-flow: row wrap;
}

.cardTitle.shrink > div .holdsIcons {
	margin: 1rem 2rem 1rem 0;
}

.about section {
	padding-bottom: 2rem;
	border-bottom: 4px dotted lightgrey;
}

.holdsIcons span {
	padding-left: 0.5rem;
}

.holdsIcons a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.holdsIcons svg {
	font-size: 2rem;
}

.holdsIcons img {
	width: 2rem;
}

.holdsIcons img.js {
	background-color: black;
}

.holdsIcons img.php {
	width: 3rem;
}

.cardTitle.shrink .holdsIcons.php {
	margin: 0 2rem 0 0;
}

.cardTitle.shrink .holdsIcons.composer {
	margin: 0;
}

.holdsIcons img.python {
	width: 2.5rem;
}

.holdsIcons img.sass {
	width: 2.5rem;
}

.holdsIcons img.babel {
	width: 2.5rem;
	background-color: #f6db55;
}

.holdsIcons img.ps {
	background-color: rgb(2, 39, 49);
}

.holdsIcons img.mysql {
	width: 4.5rem;
}

.projects .projectCard {
	max-width: 29rem;
	min-height: 45rem;
	box-shadow: 0px 0px 12px -4px #0000002e;
}

.projects .projectCard h3 {
	color: var(--darkblue);
}

.projects .projectCard > div:not(:first-child) {
	padding: 1rem;
}

.screenshot {
	display: flex;
	justify-content: center;
	box-shadow: 0px 10px 20px -20px #0000002e;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.screenshot img {
	width: 100%;
	max-height: 350px;
	height: auto;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.holdsButtons {
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-between;
	width: 100%;
	/*margin: auto 0 0 auto;*/
}

.holdsButtons a {
	display: inline-block;
}

.holdsButtons.only-demo {
	flex-flow: row wrap;
}

.description {
	flex: 1 0 40%;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	text-align: left;
}

.description ul {
	padding-left: 1rem;
	margin: 0;
	color: var(--text);
	text-decoration: none;
	font-size: 1.1rem;
}

.description ul li {
	margin-bottom: 1rem;
}

.projectCard .button {
	padding: 0.6rem;
	background-color: var(--darkblue);
	text-decoration: none;
	color: white;
	border: none;
	min-width: 8rem;
	border-radius: 1.5rem;
	font-size: 1rem;
	text-align: center;
	outline: none;
	box-shadow: 0px 5px 4px -4px #0000002e;
}

#contact h2 {
	margin-bottom: 1rem;
}

#contact h3 {
	margin-bottom: 1rem;
	text-align: left;
}

.footer {
	height: 2rem;
	width: 100%;
	background: var(--darkblue);
}

.footer span {
	color: white;
	padding: 0;
}

/* Media queries for smaller screens */
@media only screen and (max-width: 1024px) {
	.header {
		padding: 0.1rem 1rem;
	}

	.projects {
		justify-content: center;
	}

}

@media only screen and (max-width: 900px) {
	.header {
		margin: 0;
		padding-left: 0;
	}

	.header a:first-child {
		margin-left: 1rem;
	}

	.header a:last-child {
		margin-right: 1rem;
	}

	.projectCard {
		width: 100%;
	}

	.projectCard:nth-child(odd) {
		margin-right: 0;
	}
}

@media only screen and (max-width: 675px) {
	.container h3 {
		text-align: center;
	}

	.header {
		justify-content: space-evenly;
		margin-left: 0;
		padding-left: 1rem;
		width: 100%;
	}

	.header .logo {
		display: none;
		width: 100%;
	}

	.header a:last-child {
		margin-right: 0;
	}

	.header .menu-item,
	.header .github,
	.header .linkedin {
		display: none;
	}

	.header .bot-menu {
		list-style: none;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
		border-top: 1px dotted white;
		padding: 0.5rem 0;
	}

	.about .projectCard .cardTitle .languages {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: column wrap;
	}

	.about .projectCard:not(:first-child) {
		height: auto;
	}

	.top-menu {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		min-height: 55px;
	}

	.mobile-menu {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 100%;
		margin: 0 0.5rem;
	}

	.mobile-menu h3 {
		color: white;
	}

	.mobile-menu a:first-child {
		margin: 0;
	}

	.mobile-menu .github,
	.mobile-menu .linkedin {
		display: flex;
	}

	.about .projectCard .cardTitle {
		padding: 0.4rem;
	}

	.about .projectCard .cardTitle div {
		justify-content: space-between;
	}
}

@media only screen and (max-width: 600px) {
	.cardTitle.shrink > div .holdsIcons {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.holdsIcons {
		margin: 0.5rem;
	}

	.projects h2,
	#contact h2,
	.cardTitle.shrink h3 {
		text-align: center;
	}
}

@media only screen and (max-width: 400px) {
	#contact .languages {
		flex-flow: column wrap;
	}

	#contact a.clickable {
		display: flex;
		flex-flow: column wrap;
	}
}

@media only screen and (max-width: 375px) {
	.header .mobile-logo {
		display: none;
	}

	.header .abbr {
		display: block;
	}

	.header {
		padding: 0.1rem 0;
	}

	#contact section h3 {
		font-size: 1.3rem;
		text-align: left;
	}

	.projects .holdsIcons {
		margin: 0.5rem;
	}
}
